/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 

 .flex {

    display: flex;
 }

 header {

    background-color: lightgrey;
    height: 550px;

 }

 nav {

    height: 125px;
    margin: auto;
    width: 80%;
    background-color: red;
    justify-content: space-between;
 }

 .nav1, .nav3 {
    height: 125px;
    background-color: blueviolet;
    width: 160px;
 }

 .nav2 {

    height: 125px;
    background-color: blueviolet;
    width: 860px;

 }

 #Box1 {

    height: 425px;
    background-color: cyan;
    width: 723px;
    margin: auto;

 }

 .sec2 {

    background-color: lightgray;
    width: 80%;
    margin: auto;
 }


.sec1 {

    width: 80%;
    margin: auto;
    
}

 .subsec1 {

    width: 80%;
    margin: auto;
    /* justify-content: space-between */
 }

 .Box {
    
    height: 465px;
    width: 770px;
    margin-right: 20px;

 }

 .blueviolet {
    background-color: blueviolet;
 }

 .blue {
    background-color: rgb(4, 98, 249);
 }

 .reversed {

    order: 1;
 }

 footer {

    background-color: lightgrey;
    height: 550px;

 }

 .subsec2 {

    width: 80%;
    margin: auto;
    background-color: lightgray;
    flex-direction: column;
    padding-top: 30px;

 }

 .box2 {

    height: 260px;
    justify-content: stretch;

 }

 .bggrey {
    
    background-color: lightgray;
 }